 .main-block{
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    min-width: 357px;
    width: 30%;
    height: 65%;
    margin-Right: -50%;
    transform: translate(-50%, -50%);
background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; 
 background-blend-mode: multiply,multiply;
    }

.main-button-div{
  display: inline-block;
  height: 100%;
}

.main-button-div > p {
  height: 100%;
}

.knopka{
  margin-left: 10%;
  margin-top: 40px;
}
.close-button{
  float: right;
}

.add-event > input{
  margin: 0px 10% 30px;
  width: 80%;
  border: none;
  border-bottom: 2px solid white;
  box-sizing: border-box;
}
.add-event > input:hover{
  border-bottom: 2px solid black;
}

.add-event > label{
  color: #FFFFFF;
  margin-left: 10%;
}
.h2-style{
  margin-bottom: 30px;
  text-align: center;
  color: #FFFFFF;
}