.header{
    width: 100%;
    height: auto;
    background: linear-gradient(to top, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; 
    padding: 10px 5px;
    margin-bottom: 10px!important;
    /* display: flex; */
}